
#main {
/*	border: 1px solid brown;*/
	margin-top:30px;
	height: 470px;
	width: 1250px;	
	/*background-image:url(layout/body_bg.png);*/
}

div {
	margin: 2px;
}


/* main page */

#about {
	border: 1px solid black;
	margin: 2px;
	height: 300px;
	width: 700px;
	float:left;
	/*margin:20px;*/
}

#footer {
	margin-top: 20px;
	float:left;
	/*width:1000px;	*/
	width: 1247px;
	font-family: Verdana;
	font-size: 10px;
	padding-left: 520px;
}

#header {
	margin-bottom: 20px;
	width: 1245px;
	height: 100px;
	/*background-image:url(layout/header_bg.png);*/
}

#login_button {
	width: 200px;
	height: 50px;
}

#login_div {
	border: 1px solid orange;
	margin-left: 450px;
	height: 300px;
	width:300px;
	float:left;
	background-image:url(layout/login_div3.png);
}

.logo {
	width: 150px;
	height: 74px;
	margin: 15px 0 15px 0px;
}


/* employee page */

.item_but {
	border: 1px solid brown;
	-moz-border-radius:5px;
	border-radius:5px;
}
.logout_emp {
	padding-left: 800px;
	font-family:Century Gothic;
}

.mealbutton {
	margin-left: 20px;
	width:100px;
	height: 100px;
	margin-top:2px;
	font-family:Showcard Gothic;
}

.mealbutton:hover {
	border:2px solid white;
	color:white;
	width: 110px;
	background-color: brown;
	-moz-border-radius:5px;
	border-radius:5px;
}

.menu_display {
	border:1px solid brown;
	margin:2px;
	width: 700px;
	height: 500px;
	float:left;
	-moz-border-radius:5px;
	border-radius:5px;
	overflow: scroll;
}

.nav_pane {
	padding-top:20px;
	height: 480px;
	width: 150px;
	float:left;
	border: 1px solid brown;
	background-image:url(layout/nav_pane.png);
	-moz-border-radius:5px;
	border-radius:5px;
}

.purchase_button {
	float:left;
	/*border:1px solid brown;*/
	height: 100px;
	width: 200px;
	margin-left:50px;	
	-moz-border-radius:5px;
	border-radius:5px;
	padding-left: 0px;
	text-align: center;
	font-size: 20px;

}

.purchase_display {
	border:1px solid brown;
	margin:2px;
	float:left;
	height:400px;
	width:300px;
	-moz-border-radius:5px;
	border-radius:5px;
	overflow: scroll;
}


/* manager page */


.logout_div {
	padding-left: 1100px;
	font-family:Century Gothic;
}

.mgr_nav {
	height: 500px;
	width: 300px;
	float:left;
	border: 1px solid brown;
	-moz-border-radius:5px;
	border-radius:5px;
	font-family:'Trebuchet MS', Arial, Verdana;

}

.mgr_display {
	height: 480px;
	width: 880px;
	float:left;
	border: 1px solid brown;
	-moz-border-radius:5px;
	border-radius:5px;
	padding: 10px;
	font-family:'Trebuchet MS', Arial, Verdana;
	/*overflow: scroll;*/
}

#viewEmp_display, #viewItem_display, #viewProduct_display, #viewRemovedItem_display, #viewSales_display {
	overflow: scroll;
}

.noti_div {
	font-size: 12px;
	color: red;
}

.mgr_display input, select {
	margin-top:5px;
	margin-left: 5px;
}
#pwd_div {
	width: 300px;
	height: 400px;
	border: 3px solid brown;
	margin: auto; 
	margin-top: 20px; /* top right botton left */
	text-align:center;
	-moz-border-radius:5px;
	border-radius:5px;
}

input {
	
}

table {
	text-align: center;
	/*border:2px solid brown;*/
	/*margin:2px;*/
}
.purchase {
	text-align: center;
	font-size: 20px
	/*border:2px solid brown;*/
	/*margin:2px;*/
}
th {
	width: 150px;
}

.prodimg {
	height: 100px;
	width: 100px;
	border: 2px solid brown;
	margin:10px;
	-moz-border-radius:5px;
	border-radius:5px;
}

.prodimg:hover {
	height: 100px;
	width: 100px;
	border: 2px solid black;
}

a {
	font-style: normal;
	font-family:'Trebuchet MS', Arial, Verdana;

}

a:hover {
	color:red;
}

.c {
	font-size:12px;
	color:red;
	font-family: Verdana;
	font-style: italic; 
}

.log {
	margin:5px;
}









#nav_pane {
	border:1px solid black;
	margin:2px;
}





.item_but {
	margin: 5px;
	height: 70px;
	width: 90px;	
}

img {
	margin:2px;	
}


